html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F2EFEA;
    color: #102A2E
}

.banner {
    background-image: url(./images/banner-img.jpg);
    height: 15rem;
    background-size: cover;

}

.page-title {
    color: whitesmoke;
    font-size: 5rem;
    margin: 0;
    padding: 35px 0 0 50px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px black;
}

.subheading {
    color: whitesmoke;
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 0 0 0 55px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
}

.item-list {
    width: 70%;
    margin: 0px auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid gray;
    gap: 10px;
}

.item-img {
    max-width: 30%;
    min-width: 200px;
}

.item-content {
    max-width: 45%;
    min-width: 300px
}

.item-btns {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.size-selector {
    width: 120px;
    color: #102A2E;
    text-align: center;
}

.length-selector {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    width: 120px;
}

.add-to-cart {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1FA2A6;
    color: whitesmoke;
    border: none;
}

.add-to-cart:hover {
    background-color: #16858A;
}

.add-to-cart:active {
    background-color: #eeba0e;
    color: #16858A;
}

.reciept {
    width: 40%;
    margin: 100px auto;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 5px 5px 15px rgb(201, 200, 200);
}

thead, table {
    width: 100%;
}

.column-item {
    width: 50%;
}

.remove-btn {
    color: red;
    background: none;
    border: none;
}

.order-btn {
    background-color: #1FA2A6;
    color: whitesmoke;
    border: none;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}

.order-btn:hover {
    background-color: #eeba0e;
    color: whitesmoke;
}

.jump-to-cart {
    position: fixed;
    top: 50%;
    right: 5%;
    width: 120px;
    height: 80px;
    font-size: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1FA2A6;
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.jump-to-cart:hover {
    background-color: #16858A
}

.jump-to-cart:active {
    background-color: #eeba0e;
    color: #9ddee2;
}

.modal {
    background-color: #16858A;
    color: whitesmoke;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 15px rgb(67, 66, 66);
}

.modal-heading {
    margin: 0;
    width: 71%;
    font-size: 1.5rem;
    text-align: center;
}

.modal-text {
    width: 71%;
    font-size: 0.95em;
    margin: 30px 0;
}

.reserve-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.reserve-form label {
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.checkout-input {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: 5px;
    border: none;
}

.checkout-submit-btn {
    background-color: whitesmoke;
    color: #16858A;
    border: none;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}

.checkout-submit-btn:hover {
    background-color: #eeba0e;
    color: whitesmoke;
}

.modal-exit-btn {
    color: whitesmoke;
    font-size: 2rem;
    position: fixed;
    top: 2%;
    right: 2%;
    background: none;
    border: none;
}

.modal-exit-btn:hover {
    color: red;
}

footer {
    margin-top: 90px;
}

.hidden {
    display: none;
}

.emphasise {
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}